* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    height: 100vh;
}

.split {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left {
    background: rgb(235, 162, 6);
    color: #fff;
    text-align: center;
    padding: 20px;
}

.left h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.left p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.left img {
    width: 80%;
    max-width: 300px;
    margin-top: 20px;
}

.right {
    background: #f4f4f9;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right h2 {
    font-size: 1.8rem;
    color: #3a3f51;
    margin-bottom: 20px;
    text-align: center;
}

.right form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.right label {
    font-size: 0.9rem;
    margin-bottom: 5px;
    font-weight: bold;
    color: #444;
}

.right input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.right button {
    padding: 12px;
    background-color: rgb(235, 162, 6);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.right button:hover {
    background-color: #4f5671;
}

.form-footer {
    text-align: center;
    margin-top: 10px;
    font-size: 0.85rem;
}

.form-footer a {
    font-size: 0.85rem;
        color: rgb(235, 162, 6);
        text-decoration: none;
        margin-bottom: 15px;
        display: inline-block;
        transition: color 0.3s ease;
}


.forgot-password a {
    font-size: 0.85rem;
    color: rgb(235, 162, 6);
    text-decoration: none;
    margin-bottom: 15px;
    display: inline-block;
    transition: color 0.3s ease;
}

@media (max-width: 768px) {
    .split {
        width: 100%;
        height: 50%;
    }

    body {
        flex-direction: column;
    }
}