/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, white);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background: rgb(235, 162, 6);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.form-card {
    text-align: center;
}

h2 {
    margin-bottom: 1rem;
    color: #333;
}

p {
    margin-bottom: 2rem;
    color: #555;
    font-size: 1rem;
}

.input-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #444;
}

input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

input:focus {
    border-color: #2575fc;
    outline: none;
}

button {
    width: 100%;
    padding: 0.8rem;
    background: black;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #1b5fbf;
}

.links {
    margin-top: 1rem;
}

.links a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}

.links a:hover {
    text-decoration: underline;
}