
.navbar{
    background-color:rgb(235, 162, 6);
}
#c1{
        height: 400px;
        width: 400px;
        background-color: rgb(235, 162, 6);
        margin-top: 70px;
        margin-left: auto;
}
.container img{
    height: 200px;
    width: 350px;
    margin-left: 13px;
    margin-top: 10px;
}
.container p{
        font-size: 16px;
        text-align: left;
        margin-left: 13px;
        margin-top: 10px;
}
.container li{
        font-size: 12px;
        text-align: left;
        margin-left: 13px;
        margin-top: 10px;
}